<div class="edit-room" id="js-edit-room">
  <h3>New Room</h3>
  <p>
    <label for="new-room-x">X (east-west) position of north-west corner</label>
    <input type="number" id="new-room-x"/>
  </p>
  <p>
    <label for="new-room-y">Y (north-south) position of north-west corner</label>
    <input type="number" id="new-room-y"/>
  </p>
  <p>
    <label for="new-room-width">East-West size</label>
    <input type="number" id="new-room-width"/>
  </p>
  <p>
    <label for="new-room-height">North-South size</label>
    <input type="number" id="new-room-height"/>
  </p>
  <p>
    <button id="submit-add-room" data-finish-action="add_room">Add Room</button>
  </p>
</div>